:root {
    --gray-offset: rgba(0, 0, 0, 0.03);
    --gray-border: rgba(0, 0, 0, 0.15);
    --gray-light: rgba(0, 0, 0, 0.4);
    --gray-mid: rgba(0, 0, 0, 0.7);
    --gray-dark: rgba(0, 0, 0, 0.9);
    --body-color: var(--gray-mid);
    --headline-color: var(--gray-dark);
    --accent-color: #0066f0;
    --body-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    --radius: 6px;
    --form-width: 650px;
}

*,:after,:before {
    box-sizing: border-box
}

h1, h2, h3, h4, h5, h6 {
    color: var(--body-color);
    margin-top: 2px;
    margin-bottom: 4px;
}

h1 {
    color: var(--headline-color);
}

h4 {
    font-weight: 500;
    color: var(--gray-light);
}

html {
    font-size: 1.6vh
}

body {
    margin: 0;
    padding: 20px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1rem;
    color: #000
}

.sr-main {
    margin: auto;
    max-width: 75rem;
}

aside,footer,header,main,section {
    display: block;
    margin: 0;
    padding: 1.25rem;
    color: #000
}

.sr-root {
    /*   background: #000; */
}

.sr-header {
    background: #03a9f4;
    display: none;
}

.hero {
    background: #d22b1f
}

@media screen and (min-width: 640px) {
    .sr-main {
        display:flex
    }
}

.sr-main, .sr-content {
    flex: 1;
    /* background: #129a22 */
}

.sr-content:nth-child(1) {
    flex: 0 1 300px;
    background: #673ab7
}

.footer,.sidebar {
    border: 1px solid #000
}

.footer {
    background: #616161
}

/* Inputs */
.sr-input, .sr-select, input[type="text"], input[type="number"] {
    border: 1px solid var(--gray-border);
    border-radius: var(--radius);
    padding: 5px 12px;
    height: 44px;
    width: 100%;
    transition: box-shadow 0.2s ease;
    background: white;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #32325d;
    height: 1.5em;
    font-size: 2em;
}

.sr-input:focus, input[type="text"]:focus, button:focus, .focused {
    box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 0 0 4px rgba(50, 151, 211, 0.3);
    outline: none;
    z-index: 9;
}

.sr-input::placeholder, input[type="text"]::placeholder, input[type="number"]::placeholder {
    color: var(--gray-light);
}

.sr-checkbox-label input:focus ~ .sr-checkbox-check {
    box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 0 0 4px rgba(50, 151, 211, 0.3);
    outline: none;
}

.sr-checkbox-label input:checked ~ .sr-checkbox-check {
    background-color: var(--accent-color);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: -1px -1px;
}

/* Select */
.sr-select {
    display: block;
    height: 44px;
    margin: 0;
    background-repeat: no-repeat, repeat;
    background-position: right 12px top 50%, 0 0;
    background-size: 0.65em auto, 100%;
}

.sr-select:after {
}

.sr-select::-ms-expand {
    display: none;
}

.sr-select:hover {
    cursor: pointer;
}

.sr-select:focus {
    box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 0 0 4px rgba(50, 151, 211, 0.3);
    outline: none;
}

.sr-select option {
    font-weight: 400;
}

.sr-select:invalid {
    color: var(--gray-light);
    background-opacity: 0.4;
}

/* Combo inputs */
.sr-combo-inputs {
    display: flex;
    flex-direction: column;
}

.sr-combo-inputs input, .sr-combo-inputs .sr-select {
    border-radius: 0;
    border-bottom: 0;
}

.sr-combo-inputs > input:first-child, .sr-combo-inputs > .sr-select:first-child {
    border-radius: var(--radius) var(--radius) 0 0;
}

.sr-combo-inputs > input:last-child, .sr-combo-inputs > .sr-select:last-child {
    border-radius: 0 0 var(--radius) var(--radius);
    border-bottom: 1px solid var(--gray-border);
}

.sr-combo-inputs > .sr-combo-inputs-row:last-child input:first-child {
    border-radius: 0 0 0 var(--radius);
    border-bottom: 1px solid var(--gray-border);
}

.sr-combo-inputs > .sr-combo-inputs-row:last-child input:last-child {
    border-radius: 0 0 var(--radius) 0;
    border-bottom: 1px solid var(--gray-border);
}

.sr-combo-inputs > .sr-combo-inputs-row:first-child input:first-child {
    border-radius: var(--radius) 0 0 0;
}

.sr-combo-inputs > .sr-combo-inputs-row:first-child input:last-child {
    border-radius: 0 var(--radius) 0 0;
}

.sr-combo-inputs > .sr-combo-inputs-row:first-child input:only-child {
    border-radius: var(--radius) var(--radius) 0 0;
}

.sr-combo-inputs-row {
    width: 100%;
    display: flex;
}

.sr-combo-inputs-row > input {
    width: 100%;
    border-radius: 0;
}

.sr-combo-inputs-row > input:first-child:not(:only-child) {
    border-right: 0;
}

.sr-combo-inputs-row:not(:first-of-type) .sr-input {
    border-radius: 0 0 var(--radius) var(--radius);
}

/* Buttons and links */
button {
    background: var(--accent-color);
    border-radius: var(--radius);
    color: white;
    border: 0;
    padding: 12px 16px;
    margin-top: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
    border: 1px solid var(--gray-border);
    border-radius: var(--radius);
    padding: 5px 12px;
    height: 44px;
    width: 100%;
    transition: box-shadow 0.2s ease;
    /* background: white; */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* color: #32325d; */
    height: 1.5em;
    font-size: 2em;
}

button:hover {
    filter: contrast(115%);
}

button:active {
    transform: translateY(0px) scale(0.98);
    filter: brightness(0.9);
}

button:disabled {
    opacity: 0.5;
    cursor: none;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.sr-root {
    animation: 0.4s form-in;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.sr-payment-form .sr-form-row {
    animation: 0.4s field-in;
    animation-fill-mode: both;
    animation-timing-function: ease;
    transform-origin: 50% 0%;
}

@keyframes field-in {
    0% {
        opacity: 0;
        transform: translateY(8px) scale(0.95);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes form-in {
    0% {
        opacity: 0;
        transform: scale(0.98);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

